<% layout('layouts/boilerplate')%>

<div id="reallocation-container">


  <div class="row form-background">

    <div class="col-md-12 text-center">
      <h1>Submit a Q Smart Problem</h1>
      <!-- <p>Please note that requests submitted after 3pm will be not be actioned until the next day</p> -->
    </div>



    <div class="col">
      <form action="/tracker/new/<%= division %>" method="POST">
        <input type="hidden" name="tracker[division]" value="<%= division %>">

        <label for="buildNumber">Serial/Asset Number</label>
        <input class="form-control" type="text" id="password" name="tracker[serialNumber]" required>

        <label for="buildNumber">Area</label>
        <input class="form-control" type="text" id="password" name="tracker[area]" required>

        <label for="buildNumber">Team leader</label>
        <input class="form-control" type="text" id="password" name="tracker[teamLeader]" required>

    </div>
    <div class="col">
      <label for="notes">Issue</label>
      <textarea style="height: 110px; margin-bottom: 30px;" class="form-control" name="tracker[issue]" required></textarea>
      <div class="form-group text-center">
        <button class="btn btn-md btn-success btn-block">Submit</button>
      </div>
    </div>
    </form>
  </div>
  <div>

  </div>