


<nav class="navbar navbar-light" style="background-color: #fcb026; height: 54px; position: fixed; width: 100%; z-index: 100;">
 
    <div style="display: flex; justify-content: space-between; width: 100%;">
      <div>
        <% if (division === 'Training') { %>
          <a><img height="38px" src="/7z/content/images/jcb-logo.png"></a>
        <% } else { %>
          <a><img height="38px" src="/7z/content/images/jcb-logo.png"></a>
       <%  } %>
      </div>
      <div style="width: 100%;">
        <h2 style="margin-right: 6%; color: black; font-size: 2rem; font-weight: bold;">NFF Cab Systems --> LDL</h2>
      </div>
      <!-- <div class="float-right" style="padding: 5px; width: 120px;">
        <% if (division != 'training') { %>
          <% if(!currentUser) { %>
            <h4 style="font-weight: bold; color: black;" ><a href="/tCard/login">Login</a></h4>
            <% } else {%>
              <h4 style="font-weight: bold; color: black;" ><a href="/tCard/logout">Log out</a></h4>
              <% } %>
        <% } %>
        
    </div> -->
    </div>
  

</nav>
<nav class="navbar navbar-light header-bottom" style="position: fixed; width: 100%; margin-top: 50px; z-index: 100;" >
  <div>
    <div style="display: flex; justify-content: space-between;">
      <div class="header-bottom-other">
        <p>
          J.C Bamford Excavators LTD
        </p>
      </div>
    </div>
  </div>
</nav>