<% layout('layouts/boilerplate')%>

<div class="container">
  <table class="table table-hover table-dark" style="font-size: 15px; width: 300px; margin: auto; ">
    <thead>
      <tr class="d-flex">
        <th style="width: 300px;">Inspector<a class="float-right" href="/inspector/new/<%= division %>"> <i class="fas fa-plus"></i></a></th>


      </tr>
    </thead>
    <tbody>
      <% inspectors.forEach(i => { %>
      <tr class="d-flex">
        <td style=" width: 300px"><a href="/inspector/edit/<%= i._id %>"><%= i.name %></a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>