<% layout('layouts/boilerplate')%>

<div class="container">
  <table class="table table-hover table-dark" style="font-size: 15px; width: 300px; margin: auto; ">
    <thead>
      <tr class="d-flex">
        <th style="width: 300px;">Model<a class="float-right" href="/model/new/<%= division %>"> <i class="fas fa-plus"></i></a></th>


      </tr>
    </thead>
    <tbody>
      <% models.forEach(model=> { %>
      <tr class="d-flex">
        <td style=" width: 300px"><a href="/model/edit/<%= model._id %>"><%= model.name %></a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>