<% layout('layouts/boilerplate')%>

<div id="newbuild-container">


  <div class="row form-background">

    <div class="col-md-12 text-center">
      <h1 style="color: white;">Add Model</h1>
    </div>



    <div class="col">
      <form action="/model/new/<%= division %>" method="POST">
        <input type="hidden" name="model[division]" value="<%= division %>">
        <label for="buildNumber">Name</label>
        <input class="form-control" type="text" name="model[name]" required>
        <div class="form-group text-center">
          <button class="btn bln-block btn-md btn-success" style="margin: 5px;">Save</button>
        </div>
    </div>
    </form>
  </div>
  <div>
    <a href="/model/all/<%= division %>">Go Back</a>
  </div>