<% layout('layouts/boilerplate')%>

<div id="newbuild-container">


  <div class="row form-background">

    <div class="col-md-12 text-center">
      <h1 style="color: white;">Add Email</h1>
    </div>



    <div class="col">
      <form action="/area/<%= area._id %>/email" method="POST">

        <label for="buildNumber">Email</label>
        <input class="form-control" type="email" name="email[address]" required>

        <div class="form-group text-center">
          <button class="btn bln-block btn-md btn-success" style="margin: 5px;">Save</button>
        </div>
    </div>
    </form>
  </div>
  <div>
    <a href="/area/editemail/<%= area._id %>">Go Back</a>
  </div>