<% layout('layouts/heatmap')%>
<!-- <meta http-equiv="refresh" content="100"> -->
<link rel="stylesheet" href="/8z/content/bootstrap/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="/8z/content/dashboards.css" type="text/css">
<link rel="stylesheet" href="/8z/content/bootswatch/united.css" type="text/css">
<link rel="stylesheet" href="/8z/content/font-awesome/css/all.css" type="text/css">
<link rel="stylesheet" href="/8z/content/chart-js/chart.min.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/style2.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/cards2.css" type="text/css">
<link rel="stylesheet" href="/content/table2.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/ldlHeatmap.css" type="text/css">
<script src="/8z/content/jquery/jquery-3.3.1.min.js"></script>

<style>
  body {
    background-color: black;
  }

  h5 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: -15px;
  }

  h3 {
    color: white;
    font-size: 2rem;
  }

  h2 {
    font-weight: bold;
    color: black;
  }

  h1 {
    font-size: 4rem;
  }

  h6 {
    font-size: 1rem;
  }

  hr {
    background-color: #6a6d6d;
  }

  .zone-stat {
    font-size: 60px;
    margin-top: -10px;
  }

  .zone-span {
    font-size: 60px;
    padding-top: 6px;
  }

  a {
    text-decoration: none;

  }

  a:hover {
    color: white;

  }
</style>

<div class='main-header-holder'>
  <h1>Loadall Cabs Warranty Heatmap</h1>
</div>

<div class="loadall-main-wrapper" style="margin-top: 100px;">
  <div class="top-row">
    <a>
      <div class="track-area" style="background-color: black;">
        <p></p>
        <p class="zone-stat"></p>
      </div>
    </a>
    <a>
      <div class="track-area" style="background-color: black;">
        <p></p>
        <p class="zone-stat"></p>
      </div>
    </a>
    <a>
      <div class="track-area" style="background-color: black;">
        <p></p>
        <p class="zone-stat"></p>
      </div>
    </a>
    <a>
      <div class="track-area" style="background-color: black;">
        <p></p>
        <p class="zone-stat"></p>
      </div>
    </a>
    <a>
      <div class="track-area" style="background-color: black;">
        <p></p>
        <p class="zone-stat"></p>
      </div>
    </a>
    <a>
      <div class="track-area" style="background-color: black;">
        <p></p>
        <p class="zone-stat"></p>
      </div>
    </a>
    <a href="/dash/heatmapClaims/LDL/Clean Room/">
      <div class="track-area">
        <p>Paint</p>
        <p class="zone-stat">0</p>
      </div>
    </a>
    <a href="/dash/heatmapClaims/LDL/Ram Subs/">
      <div class="track-area">
        <p>Manufacturing</p>
        <p class="zone-stat">0</p>
      </div>
    </a>
    <a>
      <div class="track-area" style="background-color: black;">
        <p></p>
        <p class="zone-stat"></p>
      </div>
    </a>
    <a>
      <div class="track-area" style="background-color: black;">
        <p></p>
        <p class="zone-stat"></p>
      </div>
    </a>
    <a>
      <div class="track-area" style="background-color: black;">
        <p></p>
        <p class="zone-stat"></p>
      </div>
    </a>

  </div>
  <div class="middle-row">
    <a>
      <div class="track-area">
        <p>Water Test</p>
        <p class="zone-stat">0</p>
      </div>
    </a>
    <a>
      <div class="track-area" style="background-color: black;">
        <p></p>
        <p class="zone-stat"></p>
      </div>
    </a>
    <a ">
            <div class=" track-area">
      <p>Zone 3</p>
      <p class="zone-stat">0</p>
  </div>
  </a>
  <a>
    <div class="track-area">
      <p>Zone 2</p>
      <p class="zone-stat">0</p>
    </div>
  </a>
  <a>
    <div class="track-area">
      <p>Zone 1</p>
      <p class="zone-stat">0</p>
    </div>
  </a>
  <a>
    <div class="track-area" style="background-color: black;">
      <p></p>
      <p class="zone-stat"></p>
    </div>
  </a>
  <a>
    <div class="track-area" style="background-color: black;">
      <p></p>
      <p class="zone-stat"></p>
    </div>
  </a>
  <a ">
            <div class=" track-area">
    <p>Kitting</p>
    <p class="zone-stat">0</p>
</div>
</a>
<a href="/dash/heatmapClaims/LDL/Fabrication/">
  <div class="track-area">
    <p>Cab Design</p>
    <p class="zone-stat">0</p>
  </div>
</a>
<a>
  <div class="track-area" style="background-color: black;">
    <p></p>
    <p class="zone-stat"></p>
  </div>
</a>
<a>
  <div class="track-area" style="background-color: black;">
    <p></p>
    <p class="zone-stat"></p>
  </div>
</a>
</div>
<div class="middle-row">
  <a>
    <div class="track-area">
      <p>Rectification</p>
      <p class="zone-stat">0</p>
    </div>
  </a>
  <a>
    <div class="track-area" style="background-color: black;">
      <p></p>
      <p class="zone-stat"></p>
    </div>
  </a>
  <a>
    <div class="track-area" style="background-color: black;">
      <p></p>
      <p class="zone-stat"></p>
    </div>
  </a>
  <a>
    <div class="track-area" style="background-color: black;">
      <p></p>
      <p class="zone-stat"></p>
    </div>
  </a>
  <a>
    <div class="track-area" style="background-color: black;">
      <p></p>
      <p class="zone-stat"></p>
    </div>
  </a>
  <a>
    <div class="track-area" style="background-color: black;">
      <p></p>
      <p class="zone-stat"></p>
    </div>
  </a>
  <a>
    <div class="track-area" style="background-color: black;">
      <p></p>
      <p class="zone-stat"></p>
    </div>
  </a>
  <a ">
            <div class=" track-area">
    <p>Materials</p>
    <p class="zone-stat">0</p>
</div>
</a>
<a>
  <div class="track-area">
    <p>Cabs SQ</p>
    <p class="zone-stat">0</p>
  </div>
</a>
<a>
  <div class="track-area" style="background-color: black;">
    <p></p>
    <p class="zone-stat"></p>
  </div>
</a>
<a>
  <div class="track-area" style="background-color: black;">
    <p></p>
    <p class="zone-stat"></p>
  </div>
</a>
</div>





</div>





<div class="container-fluid footer">

  <div class="row header-top">
    <div class="col-lg-6 d-none d-lg-block text-left" style="padding: 4px 4px 5px 4px">
      <img height="24px" src="/7z/content/images/jcb-logo.png">
      <img height="24px" src="/7z/content/images/df.png">
    </div>
    <div class="col-lg-6 d-lg-block text-right" style="padding: 6px 12px 5px 0px; font-weight: bold">
      J.C. Bamford Excavators LTD &copy; 2022
    </div>
  </div>
</div>