<% layout('layouts/boilerplate')%>

<div class="container">
  <table class="table table-hover table-dark" style="font-size: 15px; width: 300px; margin: auto; ">
    <thead>
      <tr class="d-flex">
        <th style="width: 300px;">Detection Point<a class="float-right" href="/detection/new/<%= division %>"> <i class="fas fa-plus"></i></a></th>


      </tr>
    </thead>
    <tbody>
      <% detections.forEach(detection => { %>
      <tr class="d-flex">
        <td style=" width: 300px"><a href="/detection/edit/<%= detection._id %>"><%= detection.name %></a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>